<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emo_im_angel.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,48},{44,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_crying.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,140},{44,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_embarrassed.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,48},{44,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_foot_in_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,94},{44,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,94},{44,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_kissing.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,140},{44,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_laughing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{44,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_lips_are_sealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_money_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_sad.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,186},{44,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_surprised.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{44,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_tongue_sticking_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{44,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_undecided.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_winking.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,186},{44,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_wtf.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,186},{44,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>emo_im_yelling.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{44,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emo_images02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad527a83e9783db0cf674b1db08f597:1/1$</string>
            <key>textureFileName</key>
            <string>emo_images02.png</string>
        </dict>
    </dict>
</plist>
